{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4 text-center">
    <h2 class="mb-3 font-weight-normal">Register</h2>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}

    <button class="btn btn-lg btn-primary mt-4 mb-5" id="btnLogout" type="submit">
        Register
    </button>
    {{ form_end(registrationForm) }}
    <p>Back to login page</p>
    <a href="{{ path('app_login') }}">Login</a>
</div>
{% endblock %}
