{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center">
        <p class="mt-5">Forgot Password ?</p>
        {{ form_start(updateUserForm) }}
        {{ form_label(updateUserForm.plainPassword, 'New Password') }}
        {{ form_row(updateUserForm.plainPassword) }}
        <button class="btn btn-primary mt-4 mb-5" id="btnLogout"
                type="submit">
            Update
        </button>
        {{ form_end(updateUserForm) }}
        <p class="mt-5">Back to login page</p>
        <a href="{{ path('app_login') }}">Log in</a>
    </div>
{% endblock %}

